{# empty Twig template #}
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <body>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Date</th>
      <th scope="col">Departure City</th>
      <th scope="col">Amount</th>
      <th scope="col">Exchanged for</th>
      <th scope="col">Final amount</th>
    </tr>
  </thead>
  <tbody>
      {% for i,record in data %}
          <tr>
              <th scope="row">{{ i }}</th>
              <td>{{ record.date.date|trim('0')|trim('.') }} </td>
              <td>{{ record.city }} </td>
              <td>{{ record.firstAmount}} </td>
              <td>{{ record.exchangeCurrency }} </td>
              <td>{{ record.afterExchange }} </td>
          </tr>
      {% endfor %}
   {# <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>#}
  </tbody>
</table>
    </body>
</html>
