{# empty Twig template #}

<!DOCTYPE html>
<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
 {% block stylesheets %}
        <link href="{{ asset('build/app.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}   
</head>

<div class="container custom" >
  <div class="alert alert-success" role="alert">
Travelling from <b>{{ data.departure_capital }}</b> to <b> {{data.arrival_capital}} </b> , having  {{ data.2 }} {{data.0}} , would give you
    <b> {{ data.cash }} </b> {{ data.1 }}  
    
    </div>
</div>